<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="Poisson" />
      <allow users="Hawking" />
      <allow users="Higgs" />
      <allow users="Tesla" />
      <allow users="Dirac" />
      <allow users="Albert" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>